{{#with user}}
<form action="/profile-edit/{{_id}}" method="POST"> 
<label>Name</label>
<input type="text" name="name" value="{{name}}">
<label>Occupation</label>
   <select id="occupation" name="occupation">
      <option value="{{occupation}}">Web Developer</option>
      <option value="{{occupation}}">Data Analytics</option>
      <option value="{{occupation}}">UX/UI Design</option>
    </select>
<label>Skills</label>
<input type="text" name="skills" value="{{skills}}">

<label>Image</label>
<input type="text" name="image" value="{{image}}">

<label>GitHub</label>
<input type="url" name="github" value="{{github}}">

<label>About Me</label>
<input type="textarea" name="aboutMe" value="{{aboutMe}}">
<button type="submit">Update</button>

</form>
{{/with}}

    
 