<h2>Edit the project: {{title}}</h2>
<form action="/feed/{{_id}}/project-edit" method="post">
  <label>Title:</label>
  <input type="text" name="title" value="{{title}}" />
  <label>Required Skill:</label>
  <input type="text" name="typeOfSkills" value="{{typeOfSkills}}" />
  <label>Description:</label>
  <textarea name="description" cols="30" rows="4">{{description}}</textarea>
  <label>Created by:</label>
  <input type="text" name="createdBy" value="{{name}}" />
  <button type="submit">Save changes</button>
</form>